.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay, 0s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 3000ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 3000ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  animation-name: clip-text;
  white-space: nowrap;
  cursor: default;
}

::after {
  content: '';
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f4e4f;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* Submenu */

@keyframes slide-right {
  0% {
    left: -20rem;
    top: 0rem;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#navbar {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 2s;
  animation: slide-right 2s ease;
  overflow: hidden;
  width: 200px;
  height: 100%;
  /* position: fixed; */
  left: 0;
  z-index: 499;
}
#primary_nav {
  position: static;
  display: block;
  left: 240px;
  width: 170px;
  height: 100%;
  z-index: 500;
}
#primary_nav ul {
  padding-left: 5px;
  list-style: none;
}

#primary_nav ul li a {
  display: block;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
#primary_nav ul li a:hover,
#primary_nav ul li a:active {
  padding-left: 17px;
  text-decoration: none;
}

.nav__link .active- {
  color: #dcd7c9;
  border-color: #dcd7c9;
  border-width: 2px;
}

.social-icons .icon {
  margin: 10px;
  fill: #3f4e4f;
  transition: fill 0.5s ease-in-out;
}

.social-icons .icon:hover {
  fill: #dcd7c9;
  /* transition-duration: 500ms; */
}
