.social-icons-mobile .icon {
  margin: 10px;
  fill: #3f4e4f;
  transition: fill 0.5s ease-in-out;
  display: inline !important;
}

.social-icons-mobile .icon:hover {
  fill: #dcd7c9;
  /* transition-duration: 500ms; */
}
