.projects-page-container {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    overflow:  hidden !important;
}

.projects-perso-container  {
    position: relative;
    animation-name: example; 
    animation-duration: 1s;
    animation-delay: 2s;
    animation: slide-up 2.5s ease;
    
}

.projects-42-container {
    position: relative;
    animation-name: example; 
    animation-duration: 1s;
    animation-delay: 2s;
    animation: slide-left 2.5s ease;
}


@keyframes slide-up {
    0% {
      right: 0rem;
      bottom: -60rem;
    }
    100% {
      right: 0px;
      bottom: 0px;
    }
  }