@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
  font-family: 'Play', sans-serif;
  width: 100%;
  @apply bg-[#0d0d0d];
}

@layer components {
  /* ------------- Index Page ------------- */
  .custom-container {
    @apply w-[100vw] h-[100vh];
    @apply overflow-x-hidden;
    @apply flex flex-col;
    @apply lg:flex-row;
    @apply items-center;
    @apply lg:items-baseline;
  }
  .navbar {
    @apply flex justify-center;
    @apply lg:w-1/2;
    @apply pt-24;
  }

  .custom-container .contain {
    @apply flex flex-col;
    @apply justify-normal;
    @apply w-5/6;
    @apply md:w-2/3;
    @apply lg:w-1/2;
  }
  .contain section {
    @apply flex;
    @apply pt-20;
  }
  /* -------------------------------------- */
  /* ---------- NavBar Component ---------- */
  .navbar-container {
    @apply w-full;
    @apply flex;
    @apply flex-row;
    @apply lg:flex-col;
    @apply lg:fixed;
    @apply items-center;
    @apply justify-center;
  }
  .title-container {
    @apply lg:pl-40;
    @apply lg:mb-12;
  }
  .title-portfolio {
    @apply text-[rgb(220,215,201)] text-5xl font-bold;
    @apply hover:cursor-pointer;

    @apply mb-2;
  }
  .title-portfolio span {
    @apply text-[#3F4E4F];
  }
  .title-container p {
    @apply text-[#3F4E4F] text-sm font-bold capitalize;
    @apply pl-2;
  }
  .title-container p span {
    @apply text-[#DCD7C9];
  }
  .social-icons-mobile {
    @apply flex;
    @apply pt-6;
    @apply md:ml-2;
  }
  .menu-icon {
    @apply flex;
    @apply sm:hidden;
    @apply pt-6;
  }
  .sub-menu {
    @apply hidden;
    @apply mt-10;
    @apply sm:flex;
    @apply sm:flex-col;
    @apply pl-20;
  }
  /* -------------------------------------- */
  /* ----------- Menu Component ----------- */
  .menu-container {
    @apply flex justify-evenly;
    @apply items-start;
    @apply text-center;
  }
  #primary_nav {
    @apply block;
    @apply mt-0;
    @apply lg:mt-14;
  }
  #cv-btn {
    @apply border border-[#3F4E4F];
    @apply text-[#3F4E4F];
    @apply hover:text-[#DCD7C9] hover:border-[#DCD7C9] hover:scale-110 duration-300;
  }
  .nav-link {
    @apply bg-[#3F4E4F];
    @apply text-[#0d0d0d] uppercase;
    @apply hover:text-[#DCD7C9] hover:bg-[#2C3639] hover:bg-opacity-20 hover:duration-500;
  }
  .social-icons {
    @apply w-full;
    @apply flex justify-center;
    @apply ml-20;
    @apply lg:mt-48;
  }
  .social-link {
    @apply flex;
  }
  /* -------------------------------------- */
  /* ---------- About Component ----------- */
  .about-container {
    @apply flex flex-col;
    @apply w-full;
    @apply lg:w-5/6;
    @apply xl:w-4/6;
    @apply items-center;
    @apply md:items-start;
  }
  .about-container h2 {
    @apply text-[#3F4E4F] text-xl font-bold uppercase;
    @apply md:pl-2;
  }
  .about-container p {
    @apply text-justify text-[#fff] text-base font-[300];
    @apply px-2 py-4;
  }
  /* -------------------------------------- */
  /* --------- Project Component ---------- */
  .projects-container {
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply md:items-start;
    @apply lg:w-5/6;
    @apply xl:w-4/6;
  }
  .projects-container h2 {
    @apply text-[#3F4E4F] text-xl font-bold uppercase;
    @apply md:pl-4;
  }
  .project-card {
    @apply flex;
    @apply flex-col;
    @apply h-auto;
    @apply lg:flex-row;
    @apply p-4 my-4;
    @apply duration-500;
    @apply items-center;
    @apply w-full;
  }

  .project-card img {
    @apply pt-2;
    /* @apply lg:w-1/3; */
  }
  .project-card video {
    @apply pt-2;
    @apply lg:mr-6;
    /* @apply lg:w-1/3; */
  }
  .project-description {
    @apply flex flex-col;
  }
  .project-description h3 {
    @apply text-[#3F4E4F] text-lg font-bold;
    @apply text-center;
    @apply lg:text-start;
    @apply my-4;
  }
  .project-description h3 span {
    @apply text-[#DCD7C9];
  }
  .project-description p {
    @apply text-[#DCD7C9] text-sm;
    @apply flex-col;
    @apply items-center;
    @apply text-justify;
    @apply w-full;
    @apply lg:w-11/12;
    @apply xl:w-full;
  }
  .project-description p span {
    @apply text-[#3F4E4F];
    @apply text-justify;
  }
  .project-description div {
    @apply flex flex-row;
    @apply text-sm font-thin;
    @apply mt-4;
  }
  .project-description div p {
    @apply text-center;
    @apply mr-5;
    @apply text-[#3F4E4F];
  }
  .all-project-link {
    @apply w-full;
    @apply flex;
    @apply justify-start;
    @apply items-start;
    @apply my-8;
  }
  .all-project-link p {
    @apply text-[#3F4E4F] text-sm font-bold;
    @apply hover:text-[#DCD7C9] hover:duration-500;
    @apply ml-6;
    transition: all 1s ease-out;
  }
  .all-project-link p:hover span {
    @apply hover:text-[#DCD7C9] hover:duration-500;
    transform: translate(10px, 0px);
    display: inline-block;
    color: #dcd7c9;
    transition: all 1s ease-out;
  }
  /* -------------------------------------- */
  /* ----------- Projects Page ----------- */
  .projects-page-container {
    @apply w-full h-full;
    @apply flex;
    @apply flex-col;
    @apply lg:flex-row;
    @apply items-start;
    @apply mt-20;
  }

  .navbar-projects {
    @apply flex justify-center;
    @apply w-full;
    @apply lg:w-1/2;
    @apply xl:w-1/3;
    @apply 2xl:w-1/4;
    @apply pt-24;
  }

  .projects-page-subcontainer {
    @apply flex flex-col;
    @apply 2xl:flex-row;
    @apply w-full;
    @apply lg:w-5/6;
    @apply xl:w-4/6;
    @apply items-center;
    @apply md:items-start;
    @apply pt-24;
    @apply justify-center;
  }
  .links-card {
    @apply w-9/12;
    @apply flex items-center;
    /* @apply md:ml-14; remplace justify-center marche pas ?? */
  }

  .projects-perso-container {
    @apply w-[100vw] h-[100vh];
    @apply flex flex-col;
    @apply items-center;
    @apply sm:w-full h-full;
  }
  .projects-perso-container h2 {
    @apply text-[#3F4E4F] text-xl font-bold uppercase;
    @apply text-center;
    @apply mb-14;
  }

  .projects-42-container {
    @apply flex flex-col;
    @apply justify-end;
    @apply items-center;
    @apply sm:w-full h-full;
    /* @apply justify-center; */
  }

  .projects-42-container h2 {
    @apply sm:items-center;
    @apply text-[#3F4E4F] text-xl font-bold uppercase;
    @apply text-center;
    @apply mb-14;
  }
  /* -------------------------------------- */
}

@layer utilities {
}
